<div class = "container">

  <h1>Stupid coaching</h1>

  <div class = "card">
    <p><%= @question %></p>
    <p><em>- You</em></p>
  </div>

  <div class = "card yellow-bg">
    <p><strong><%= @answer %></strong></p>
    <p><em>- Coach</em></p>
  </div>

  <h6><%= link_to "Ask a new question", ask_path %></h6>

</div>

